.container_hora {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contador {
  font-weight: bold;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.dia_tiempo,
.hora_tiempo,
.minutos_tiempo,
.segundos_tiempo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.dia_tiempo span:nth-child(1),
.hora_tiempo  span:nth-child(1), 
.minutos_tiempo span:nth-child(1), 
.segundos_tiempo span:nth-child(1) {
    font-size: 50px;
    font-family: "Kaushan Script", cursive;
}

.dia_tiempo span:nth-child(2),
.hora_tiempo  span:nth-child(2), 
.minutos_tiempo span:nth-child(2), 
.segundos_tiempo span:nth-child(2) {
    font-size: 20px;
    font-family: "Kaushan Script", cursive;
}